header {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.jumbotron {
    font-weight: bold;
}

.daily {
    background-color: dodgerblue;
}

.card {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.favorable {
    background-color: forestgreen;
    color: whitesmoke;
    text-align: center;
    position: fixed;
    left: -120px;
}

.moderate {
    background-color: yellow;
    color: black;
    text-align: center;
    position: relative;
    left: -120px;
}

.severe {
    background-color: red;
    color: whitesmoke;
    text-align: center;
    position: relative;
    left: -120px;
}

#uvIndexStats {
    display: none;
}
