header {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.jumbotron {
    font-weight: bold;
    border-style: groove;
    background-color: whitesmoke;
}

.daily {
    background-color: dodgerblue;
}

.card {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.favorable {
    background-color: forestgreen;
    color: whitesmoke;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.moderate {
    background-color: yellow;
    color: black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.severe {
    background-color: red;
    color: whitesmoke;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#uvIndexStats {
    display: none;
    padding-right: 5px;
}

.newCityButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

#forecastBanner {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}
